:root{
    --font-size: 150%;
}
@media (max-width: 1440px){
    a, ul{
        list-style-type: none;
        text-decoration: none;
        color: black;
        margin: 2% 0;
        font-size: 150%;
    }
    a:hover{
        list-style-type: none;
        text-decoration: none;
        color: red;
        margin: 2% 0%;
        font-size:200%;
        transition: .25s;
    }
    .dropdown h1:hover 
    #page{  
        background-color: beige;
        background: url(background/math-83287-unsplash.jpg);
        background-size: cover;
        color: white;
        height: 100%;
        }
        #header{
            font-size-adjust: inherit;
            font-size: 75%;
            height:7%;
            text-align: center;
            background-color: 666699;
            color: white;
            text-transform: uppercase;
            text-shadow: 0 5px 10px rgba(0,0,0,1);
        }
        
        #nav{
            margin: 0;
            padding: 0;
            color: white;
            text-transform: uppercase;
            text-shadow: 0 5px 10px rgba(0,0,0,1);
            mix-blend-mode: overlay;
            flex: 1;
        }
        #left{
            transition: .4s;
            height: 100%;
            background-repeat: no-repeat;
            padding-top: 3%;
            width: 100%;
            color: white;
        }
        #right{
            transition: .4s;
            background-color: white;
            padding-top: 3%;
            height: 100%;
            width: 0%;
            overflow: hidden;
            color: black;
            position: absolute;
            right:0%;
        }
        #footer{
            transition: .4s;
            color: BEF243;
            position: absolute;
            bottom: 0%;
            right: 2%;
        }
        #body{
            display: flex;
            color: 3B4043;
            height: 85%;
        }      
}
/*iPhone 6 Portrait*/
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 667px) 
and (orientation : portrait) {
    ul ,a{
        list-style-type: none;
        color: blue;
        margin: 0;
        padding: 0;
    } 
    #page{  
        background-color: beige;
        background: url(background/evan-kirby-226482-unsplash.jpg);
        background-size: cover;
        color:white;
        height: 100%;
    }
    #header{
        font-size-adjust: inherit;
        font-size: 200%;
        height:7%;
        text-align: center;
        background-color: 666699;
        color: white;
        text-transform: uppercase;
        text-shadow: 0 5px 10px rgba(0,0,0,1);
    }
    
    #nav{
        margin: 0;
        padding: 0;
        color: white;
        text-transform: uppercase;
        text-shadow: 0 5px 10px rgba(0,0,0,1);
        mix-blend-mode: overlay;
        flex: 1;
    }
    #left{
        transition: .4s;
        height: 100%;
        background-repeat: no-repeat;
        padding-top: 3%;
        width: 100%;
        color: white;
    }
    #right{
        transition: .4s;
        background-color: white;
        padding-top: 3%;
        height: 100%;
        width: 0%;
        overflow: hidden;
        color: black;
        position: absolute;
        right:0%;
    }
    #footer{
        font-size: 200%;
        transition: .4s;
        color: BEF243;
        position: absolute;
        bottom: 1%;
        right: 2%;
    }
    #body{
        display: flex;
        color: 3B4043;
        height: 85%;
    }    
}
/*iPhone 6 landscape*/
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 667px) 
and (orientation : landscape) { 
    ul ,a{
        list-style-type: none;
        color: blue;
        margin: 0;
        padding: 0;
    }
    #page{  
        background-color: beige;
        background: url(background/landscape.jpg);
        background-size: cover;
        color: white;
        height: 100%;
    }
    #header{
        font-size-adjust: inherit;
        font-size: 150%;
        height:15%;
        text-align: center;
        background-color: 666699;
        color: white;
        text-transform: uppercase;
        text-shadow: 0 5px 10px rgba(0,0,0,1);
    }
    
    #nav{
        margin: 0;
        padding: 0;
        color: white;
        text-transform: uppercase;
        text-shadow: 0 5px 10px rgba(0,0,0,1);
        mix-blend-mode: overlay;
        flex: 1;
    }
    #left{
        transition: .4s;
        height: 100%;
        background-repeat: no-repeat;
        padding-top: 3%;
        width: 100%;
        color: white;
    }
    #right{
        transition: .4s;
        background-color: white;
        padding-top: 3%;
        height: 100%;
        width: 0%;
        overflow: hidden;
        color: black;
        position: absolute;
        right:0%;
    }
    #footer{
        font-size: 200%;
        transition: .4s;
        color: BEF243;
        position: absolute;
        bottom: 2%;
        right: 2%;
    }
    #body{
        display: flex;
        color: 3B4043;
        height: 85%;
    }
    
}