/*iPhone 6 Portrait*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) { 
    #page{  
        background: url(background/math-83287-unsplash.jpg);
        background-size: cover;
        color: white;
        height: 100%;
        background-repeat: no-repeat;
    }
}

/*iPhone 6 landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) { 
    #page{  
        background: url(background/evan-kirby-226482-unsplash.jpg);
        background-size: cover;
        color: white;
        height: 100%;
        background-repeat: no-repeat;
    }
}