#page{  
background-color: beige;
background: url(background/math-83287-unsplash.jpg);
background-size: cover;
color: white;
height: 100%;
}
#header{
    height:7%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: 666699;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 5px 10px rgba(0,0,0,1);
}

#nav{
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 5px 10px rgba(0,0,0,1);
    mix-blend-mode: overlay;
    flex: 1;
}
#left{
    height: 100%;
    background-repeat: no-repeat;
    padding-top: 3%;
    width: 100%;
}
#right{
    background-color: white;
    padding-top: 3%;
    height: 100%;
    width: 0%;
    overflow: hidden;
    color: black;
    position: absolute;
    right:0%;
}
#footer{
    color: BEF243;
    position: absolute;
    bottom: 0%;
    right: 5%;
}
#body{
    display: flex;
    color: white;
    height: 85%;
}
