#page{
    position:absolute;
    top: 5%;
    left:0%;
    right:0%;
    bottom:0%;
    overflow-y:scroll;   
    background: url(background/math-83287-unsplash.jpg);
    background-size: cover;
    color: white;
    height: 200%;
    background-repeat: no-repeat;
}
#header{
    height:5%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 5px 10px rgba(0,0,0,1);
    mix-blend-mode: overlay;
}
#nav{
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 5px 10px rgba(0,0,0,1);
    mix-blend-mode: overlay;
    flex: 1;
}
#main{
    flex: 5;
}
ul ,a{
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 0;
}
#footer{
    background-color: rgb(140,140,140);
    mix-blend-mode: overlay;
    color: white;
    text-align: right;
}
#body{
    display: flex;
    color: white;
    height: 80%;
}
