#page{  
    background: url(background/math-83287-unsplash.jpg);
    background-size: cover;
    color: white;
    height: 100%;
    background-repeat: no-repeat;
}
#header{
    height:5%;
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 5px 10px rgba(0,0,0,1);
    mix-blend-mode: overlay;
}
#nav{
    margin: 0;
    padding: 0;
    color: white;
    text-transform: uppercase;
    text-shadow: 0 5px 10px rgba(0,0,0,1);
    mix-blend-mode: overlay;
    flex: 1;
}
#left{
    padding: 2%;
    width: 50%;
}
#right{
    padding: 2%;
    width: 0%;
    overflow: hidden;
}
#footer{
    background-color: rgb(140,140,140);
    mix-blend-mode: overlay;
    color: white;
    text-align: right;
}
#body{
    display: flex;
    color: white;
    height: 80%;
}
